[run]
omit =
        *tests*
        *__init__*
        *migrations*
        */apps.py
        */models.py
        */admin.py
branch = True

[report]
omit =
        *tests*
        *__init__*
        *migrations*
        */apps.py
        */models.py
        */admin.py
show_missing = True
