body {
    background-color: white;
  }
  
.page {
    height: 100%;
    width: 100%;
}

.title-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    max-width: 200px;
    flex-grow:1;
    font-weight: 500 !important; 
    color:gray;
}

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
